<div class="objects">
  <div class="container">
    <div class="objects-grids">
      <% @articles.each do |article| %>
        <% unless article.private? %>
          <div class="col-md-4 objects-grid">
            <div class="col-xs-5 mnth-date-left">
              <h4><span> <%= article.created_at.strftime("%b %d, %Y") %></span></h4>
            </div>
            <div class="col-xs-7 mnth-date-right">
              <p><%= article.title %></p>
            </div>
            <div class="clearfix"> </div>
            <p class="quasi"><%= article.description.html_safe %></p>
            <div class="more">
              <%= link_to "Read More", article_path(article), :class => "hvr-curl-bottom-right" %>
            </div>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>
  <div class="objects-grids-bottom">
    <div class="col-md-4 objects-grids-btm">
      <div class="col-xs-4 objects-grids-btm-left">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
      <div class="col-xs-8 objects-grids-btm-right">
        <h4><%= @articles.count %></h4>
        <p>Our Articles of RogueBlog</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 objects-grids-btm">
      <div class="col-xs-4 objects-grids-btm-left">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
      </div>
      <div class="col-xs-8 objects-grids-btm-right">
        <h4><%= @categories_count %></h4>
        <p>Categories of RogueBlog</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 objects-grids-btm">
      <div class="col-xs-4 objects-grids-btm-left">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
      </div>
      <div class="col-xs-8 objects-grids-btm-right">
        <h4><%= @users_count %></h4>
        <p>Users in our Blog</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
