<div class="objects">
  <div class="container">
    <img src="/assets/munequito.png" alt="" id="munequito">
    <div class="contentIsland" id="chest123">
      <img src="/assets/cofre.png" alt="" id="chest1">
      <img src="/assets/cofre.png" alt="" id="chest2">
      <img src="/assets/cofre.png" alt="" id="chest3">

    </div>

    <div class="objects-grids search-container tags clearfix">
        <div class="input-group full-width">
          <%= form_tag("find_articles", method: :post, remote: :true) do %>
            <%= text_field_tag :search, params[:search], :class => 'search input_search', autofocus: true, placeholder: 'Search' %>
          <% end %>
      
          <h3 class="tagsTitle">Tags:</h3>
          <ul>
            <% @categories.each do |category| %>
              <li class="tag_search">
                <%= link_to category.title, { :action => "find_articles", :tag => category.title }, method: :post, :remote => true %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>

    <div class="objects-grids grid-container" id="articles">
      <%= render 'articles' %>
    </div>

    <%= will_paginate @articles, :previous_label => '<', :next_label => '>' %>
  </div>
</div>

<div class="floorAssets">
  <img src="/assets/hongos.png" alt="" id="hongos">
  <img src="/assets/Group11.png" alt="" id="rock">
  <img src="/assets/cofre.png" alt="" id="hongos2">
  <img src="/assets/blob.png" alt="" id="blob">
</div>