<div class="blog">
  <div class="container">
    <div class="contentIsland" id="chest123">
      <img src="/assets/munequito3.png" alt="" id="team1">
      <img src="/assets/Group11.png" alt="" id="team2">
      <img src="/assets/Group97.png" alt="" id="team3">
    <img src="/assets/tumba.png" alt="" id="team4">
    </div>
    <div class="col-md-12">
      <h1>ROGUE PARTY<br/>MEMBERS</h1>
    </div>
    <!-- <div class="col-md-offset-7 col-md-5 search-content">
        <%= form_tag(articles_path, method: :get) do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], :class => 'form-control', autofocus: true %>
            <span class="input-group-btn">
              <%= submit_tag 'Search', :class => 'btn btn-default' %>
            </span>
          </div>
        <% end %>
    </div> -->
    <div class="col-md-6 blog-left">
      <div class="border2 single">
        <div class="col-md-6 avatar">
          <img class="still" src="/assets/Group36.png" alt="">
          <img class="moving" src="/assets/munequito.png" alt="">
        </div>

        <div class="col-md-6 avatarEspec">
          <p class="rText">Pepito Perez<br/>Developer<br/>Warrior<br/>Level: 56</p>
          <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

          <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>

          <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

          <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>

          <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

          <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>
        </div>

        <div class="borderBtn">
          <a href="#modal" data-turbolinks="false"><button class="pixelBtn wh">READ</button></a>
        </div>
      </div>
      <!-- <% @articles.each do |article| %>
        <div class="blog-left-grid">
          <h4><%= link_to article.title, article_path(article) %></h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= article.created_at %></li>
            <li><a href=""><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><%= article.comments.count %> Comments</a></li>
            <li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span>User</a></li>
            <li><a href=""><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><%= article.categories.count %></a></li>
          </ul>
          <%= article.description.html_safe %>
          <div class="more">
            <%= link_to "Read More", article_path(article), :class => "hvr-curl-bottom-right" %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @articles %> -->
    </div>
    <div class="col-md-6 blog-left">
      <!-- <div class="categories">
        <h3>Categories</h3>
        <% @categories.each do |category| %>
          <ul>
            <li><%= category.title %></li>
          </ul>
        <% end %>
      </div> -->
      <div class="border2 single">
        <div class="col-md-6 avatar">
          <img class="still" src="/assets/Group36.png" alt="">
          <img class="moving" src="/assets/fabian.png" alt="">
        </div>
        <div class="col-md-6 avatarEspec">
          <p class="rText">Pepito Perez<br/>Developer<br/>Warrior<br/>Level: 56</p>
          <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

          <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>

          <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

          <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>

          <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

          <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>

        </div>

        <div class="borderBtn">
          <a href="#modal" data-turbolinks="false"><button class="pixelBtn wh">READ</button></a>

        </div>

      </div>


    </div>
    </div>

  </div>
  <div class="floorAssets">
    <img src="/assets/blob.png" alt="" id="blob2">
    <img src="/assets/albinoRat.png" alt="" id="albino1">
    <img src="/assets/albinoRat.png" alt="" id="albino2">
    <img src="/assets/albinoRat.png" alt="" id="albino3">
    <img src="/assets/albinoRat2.png" alt="" id="albino4">
    <img src="/assets/hongos.png" alt="" id="hongos3">
    <img src="/assets/Group9.png" alt="" id="sword1">
  </div>

<div id="modal">
<a href="#"></a>
<section class="popUp">

  <div class="border2 single authorBio">

    <img class="moving" src="/assets/Group106.png"  alt="">
    <img class="still" src="/assets/Group36.png" alt="">
    <div class="avatarEspec">
      <p class="rText">Pepito Perez<br/>Developer<br/>Warrior<br/>Level: 56</p>
      <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

      <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>

      <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

      <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>

      <div class="imgs"><img src="http://www.minecraftguides.org/wp-content/uploads/2012/07/steakC.gif" alt=""></div>

      <div class="imgs"><img src="https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700" alt=""></div>

    </div>
  </div>

<div class="controls">


<div class="borderBtn"><a href="#"><button class="pixelBtn wh">Cancel</button></a></div>
</div>
<h2>jkdshglsdg ksdhgskd</h2>
</section>

</div>
