<div class="blog">
  <div class="container">
    <div class="col-md-7 blog-left">
      <div class="blog-left-grid">
        <h4><%= @article.title %></h4>
        <ul>
          <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= @article.created_at %></li>
          <li><a href=""><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><%= @article.comments.count %> Comments</a></li>
          <li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span>User</a></li>
          <li><a href=""><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><%= @article.categories.count %></a></li>
        </ul>
        <p><%= @article.body %></p>
      </div>
      <div class="com">
        <h3>Comments</h3>
        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Simmy</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin commodo. Cras purus odio,
              vestibulum in vulputate at, tempus viverra turpis.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 blog-right">
      <div class="categories">
        <h3>Categories</h3>
        <% @categories.each do |category| %>
          <ul>
            <li><%= category.title %></li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="leave-a-comment">
      <h3>Leave your comment Here</h3>
      <form>
        <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
        <input type="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}" required="">
        <input type="text" value="Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone Number';}" required="">
        <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type Your Comment here...';}" required="">Type Your Comment here...</textarea>
        <input type="submit" value="Add Comment">
      </form>
    </div>
  </div>
</div>
